<header>
  <div class="container">
    <h1>Kalkulator</h1>
    <nav id="menu">
      <ul>
        <li>
          <a href="/#/heating">heating</a>
        </li>
        <li>
          <a href="/#/temperature">temperature</a>
        </li>
        <li>
          <a href="/#/area">area</a>
        </li>
        <li>
          <a href="/#/material">material</a>
        </li>
        <li>
          <a href="/#/result">result</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container" id="main-content">
  <div id="page"></div>
</div>

<script id="heating-content" type="text/html">
    <div id="heating-list"></div>
    <div id="heating-form"></div>
</script>

<script id="heating-list-content" type="text/html">
  <p>Wybierz ogrzewanie</p>
  <select id="heating-list" size="5">
    <% @heating.each do |h| %>
      <option value="<%= h.id %>">
        <%= h.name %>
      </option>
    <% end %>
  </select>
</script>

<script id="heating-form-content" type="text/html">
  <div class="row">
    <div class="col-md-6" id="heating-efficiency-label"></div>

    <div class="col-md-6">
      <input id="heating-efficiency" type="text" class="number"/>
      <div class="measure" id="heating-efficiency-measure"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" id="heating-price-label"></div>

    <div class="col-md-6">
      <input id="heating-price" type="text" class="number"/>

      <div class="measure" id="heating-price-measure"></div>
    </div>
  </div>

  <? selectedHeating = heatingList.get(data.get("heatingId")) ?>

  <? if (selectedHeating.get("type") != 2 && selectedHeating.get("type") != 5) { ?>
    <div class="row">
      <div class="col-md-6" id="heating-value-label"></div>

      <div class="col-md-6">
        <input id="heating-value" type="text" class="number"/>

        <div class="measure" id="heating-value-measure"></div>
      </div>
    </div>
  <? } ?>
</script>

<script id="temperature-content" type="text/html">
  <div class="row">
    <div class="col-md-4">
      Temperatura wewnątrz domu:
    </div>
    <div class="col-md-4">
      <input id="temperature" type="text" class="number"/>
    </div>
    <div class="col-md-4">°C</div>
  </div>

  <p>Miasto</p>
  <select id="temperature-list" size="5">
    <% @cities.each do |c| %>
      <option value="<%= c.id %>">
        <%= c.name %>
      </option>
    <% end %>
  </select>
</script>

<script id="area-content" type="text/html">
  <div id="calculator"></div>

  <div class="row">
    <div class="col-md-4">
      Całkowita powierzchnia ścian zewnętrznych:
    </div>
    <div class="col-md-4">
      <input id="area-total" type="text" class="number"/>
    </div>
    <div class="col-md-4">m²</div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Powierzchnia ścian bez okien:
    </div>
    <div class="col-md-4">
      <input id="area-total-without-windows" type="text" class="number"/>
    </div>
    <div class="col-md-4">m²</div>
  </div>
</script>

<script id="material-content" type="text/html">
  <select id="material-construction-list">
    <% @material_constructions.each do |m| %>
      <option value="<%= m.id %>">
        <%= m.name %>
      </option>
    <% end %>
  </select>

  <div class="row">
    <div class="col-md-4">
      Współczynik przewodzenia ciepła warstwy konstrukcyjnej (λ):
    </div>
    <div class="col-md-4">
      <input id="material-construction-thermal-conductivity" type="text" class="number"/>
    </div>
    <div class="col-md-4">W/mK</div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Grubość warstwy konstrukcyjnej:
    </div>
    <div class="col-md-4">
      <input id="material-construction-thickness" type="text" class="number"/>
    </div>
    <div class="col-md-4">cm</div>
  </div>

  <select id="material-thermal-insulation-list">
     <% @material_thermal_insulations.each do |m| %>
      <option value="<%= m.id %>">
        <%= m.name %>
      </option>
    <% end %>
  </select>

  <div class="row">
    <div class="col-md-4">
      Współczynik przewodzenia ciepła termoizolacji (λ):
    </div>
    <div class="col-md-4">
      <input id="material-thermal-insulation-thermal-conductivity" type="text" class="number"/>
    </div>
    <div class="col-md-4">W/mK</div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Koszt zakupu materiału termoizolacyjnego:
    </div>
    <div class="col-md-4">
      <input id="material-thermal-insulation-cost-of-purchasing" type="text" class="number"/>
    </div>
    <div class="col-md-4">zł/m²</div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Koszt wykonania ocieplenia:
    </div>
    <div class="col-md-4">
      <input id="material-thermal-insulation-cost-of-insulation" type="text" class="number"/>
    </div>
    <div class="col-md-4">zł/m²</div>
  </div>
</script>

<script id="result-content" type="text/html">
  <div id="result-heating"><?= data.heating_category ?></div>
  <div id="result-efficiency-label"></div>
  <div id="result-efficiency"><?= data.heating_category ?></div>
  <div id="result-efficiency-measure"></div>
  <div id="result-price-label"></div>
  <div id="result-price"><?= data.heating_category ?></div>
  <div id="result-price-measure"></div>
  <div id="result-value-label"></div>
  <div id="result-value"><?= data.heating_category ?></div>
  <div id="result-value-measure"></div>

  <div id="result-temperature"><?= data.heating_category ?></div>
  <div id="result-temperature-region"></div>

  <div id="result-area-total"><?= data.heating_category ?></div>
  <div id="result-area-total-without-windows"><?= data.heating_category ?></div>

  <div id="result-construction"><?= data.heating_category ?></div>
  <div id="result-construction-thermal-conductivity"><?= data.heating_category ?></div>
  <div id="result-construction-thickness"><?= data.heating_category ?></div>

  <div id="result-thermal-insulation"><?= data.heating_category ?></div>
  <div id="result-thermal-insulation-thermal-conductivity"><?= data.heating_category ?></div>
  <div id="result-thermal-insulation-cost-of-purchasing"><?= data.heating_category ?></div>
  <div id="result-thermal-insulation-cost-of-insulation"><?= data.heating_category ?></div>

  <div>A: Grubość izolacji</div>
  <div>B: spełniona norma budowlana</div>
  <div>C: spełniona norma nf40</div>
  <div>D: koszty ogrzewania</div>
  <div>E: zysk na ociepleniu</div>
  <div>F: koszty wykonania ocieplenia</div>
  <div>G: zwrot</div>

  <table id="result-data-table">
    <thead>
      <tr>
        <th>A</th>
        <th>U</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
        <th>F</th>
        <th>G</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>cm</td>
        <td></td>
        <td>-</td>
        <td>-</td>
        <td>zł</td>
        <td>zł</td>
        <td>zł</td>
        <td>lata</td>
      </tr>

      <? _.each(result, function(r) { ?>
        <tr>
          <td><?= r.measurement ?></td>
          <td><?= r.u ?></td>
          <td><?= r.meets_building ?></td>
          <td><?= r.meets_nf40 ?></td>
          <td><?= r.heating_costs ?></td>
          <td><?= r.gain_on_warming ?></td>
          <td><?= r.basket_of_insulation ?></td>
          <td><?= r.refund ?></td>
        </tr>
      <? }) ?>
    </tbody>
  </table>
</script>
