@media (min-width: 1000px) {
  .container {
    width: 970px;
  }
}

#heating-efficiency-label, #heating-price-label, #heating-value-label {
  text-align: right;
}

.measure {
  display: inline-block;
}

body {
  color: #7a7a7a;
  background-image: image-url('house_blueprint.jpg');
  background-size: contain;
}

input {
  background-image: image-url('stripe_bg.png');
  border: none;
  text-align: right;
}

select option {
  padding-left: 10px;
}

/* SECTION HEADER */
header {
  //background-image: url(../img/house_blueprint2.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

/* SECTION MENU */

#menu ul {
  list-style: none;
  padding: 0px;
}

#menu li {
  display: inline-block;
  min-width: 100px;
  //border: 1px solid #333;
  box-shadow: 0px 0px 15px #777;
  background-color: #111;
  margin: 5px;
}

#menu span {
  //width: 100%;
}

#menu a {
color: #C2F1FF;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin: 2px;
}

/* SECTION MAIN CONTENT */

#main-content {
  //background-color: #fff;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 5px #7C7C7C;
  //font-size: 25px;
  padding: 50px;
  min-height: 600px;
}

#main-content .row {
  margin-top: 10px;
}

#page {
  margin-top: 20px;
  font-size: 16px;
}

/* SECTION CALCULATOR */

#calculator {
  width: 322px;
}

#result-data-table {
  border-collapse: separate;
}

#result-data-table th {
  text-align: center;
}

#result-data-table td, th {
  padding: 0px 10px;
}

#result-expansion-data-table td {
  border: 1px solid #000;
}

#result-expansion-data-table-2 td {
  border: 1px solid #000;
}
