<!DOCTYPE html>
<html>
  <head>
    <title>Kalkulator Ogrzewania</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script>
      $(function () {
        $.calculator.setDefaults({showOn: 'both', buttonImageOnly: true, buttonImage: 'img/calculator.png'});
      });
    </script>
  </body>
</html>
